<%= form_with(model: data_page, local: true) do |form| %>
  <% if data_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(data_page.errors.count, "error") %> prohibited this data_page from being saved:</h2>

      <ul>
      <% data_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.text_area :data, id: :data_page_data %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
