<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @opinion.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @opinion.content %>
</p>

<p>
  <strong>Name:</strong>
  <%= @opinion.name %>
</p>

<%= link_to 'Edit', edit_opinion_path(@opinion) %> |
<%= link_to 'Back', opinions_path %>
