<%= form_with(model: reply, local: true) do |form| %>
  <% if reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reply.errors.count, "error") %> prohibited this reply from being saved:</h2>

      <ul>
      <% reply.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :opinion_id %>
    <%= form.number_field :opinion_id, id: :reply_opinion_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :reply_content %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :reply_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
