<h1>Blogs#index</h1>
<% @data.each do |obj| %>
    <h3 class= "top_title">
        <a href="/blogs/show/<%= obj.id %>"><%= obj.title %></a></h3>
    <p class= "top_read"><%= obj.read %>
        <span class= "top_created">(<%= obj.created_at %>)</span></p>
    <hr>
<% end %>

<div class= "navigate">
  <% if @page_num > 0  then %>
     <a href="/blogs/<%= @page_num - 1 %>"><<前のページ</a>
  <% end %>
  <span></span>
  <a href="/blogs/<%= @page_num + 1 %>">次のページ>></a>
</div>
