<h1>People#Show</h1>
<p><%= @msg %></p>
<pre>
<table>
<tr>
  <th>Id</th>
  <td><%= @data.id %></td>
</tr>
<tr>
  <th>Name</th>
  <td><%= @data.name %></td>
</tr>
<tr>
  <th>Age</th>
  <td><%= @data.age %></td>
</tr>
<tr>
  <th>Mail</th>
  <td><%= @data.mail %></td>
</tr>
</table>
</pre>
