<% if account_signed_in? %>
  <% if @post.like_user(current_account.id) %>
    <% if @like.present? %>
       <div class="like-now floats">
       <%= link_to post_like_path(post_id: @post.id, id: @like.id), method: :delete, remote: true do %>
          <i class="fa fa-heart fa-2x like-now">いいね済み</i>
          <span>
             <%= post.likes.count %>
           </span>
       <% end %>
       </div>

   <% else %>
      <div class="like-not floats">
      <%= link_to post_likes_path(post_id: @post.id), method: :post, remote: true do %>
        <i class="fa fa-heart fa-2x like-not">いいね</i>
        <span>
             <%= post.likes.count %>
        </span>
     <% end %>
     </div>

   <% end %>
  <% end %>
<% end %>

<div class="like-count floats">いいね！<%= @likes_count %>件</div>
