<h1>"<%= @user.sitename %>"</h1>

<table>
  <tr>
    <th>Sitename</th>
    <td><%= @user.sitename %></td>
  </tr>
  <tr>
    <th>ID</t>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= @user.created_at %></td>
  </tr>
  <tr>
    <th>Introduction</th>
    <td><%= @user.intro %></td>
  </tr>
</table>

<hr>
<%= link_to '<< Back', controller: :posts %>
<hr>
<div>copyright Tree 2018</div>
