<p id="notice"><%= notice %></p>

<h1>アンケートしよう！</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>期間</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <td><% dx = 60 * 60 * 9 %></td>
    <td><% @questionaries.each do |questionary| %></td>
      <tr>
        <td><%= questionary.title %></td>
        <td><%= 'あと、約' + ((questionary.deadline - DateTime.now - dx) / (60*60*24)).to_i.to_s + '日' %>
        <% if questionary.deadline - dx > DateTime.now then %>
           <span class="not finished">受付中</span>
           </td>
           <td><%= link_to 'アンケートを表示', questionary %></td>
        <% else %>
            <span class="finished">終了</span>
            </td>
            <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新しいアンケートを作る', new_questionary_path %>
