<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= render 'form', post: @post %>
<%= link_to 'go home >>', controller: :users %>
<hr>
<h2>Posted Posts.</h2>
<table width="90%">
  <thead>
    <tr>
      <th width="18%">Title</th>
      <th width="7%"></th>
      <th width="65%">Content</th>
      <th width="150px">User</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>=
        <td><%= post.title %></td>
        <!-- いいね追加・削除 -->
        <td><span id="like-button-<%= @post.id %>">
            <%#= render partial: 'likes/like', locals: { post: post } %>
            <%= render partial: 'likes/like', locals: { post: post, likes: @likes } %>

        </span></td>
        <td><%= post.content %></td>
        <td><%= link_to post.user.sitename,
                        controller: :users, action: :show,
                        id:post.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div><%= paginate @posts %></div>
<hr>
<div>copyright Tree 2018</div>
