<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= render 'form', post: @post %>
<%= link_to 'go home >>', controller: :users %>
<hr>
<h2>Posted Posts.</h2>
<table width="90%">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th width="150px">User</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>=
        <td><%= post.title %></td>
        <td><%= post.content %>   <small><i class="fa fa-heart fa-fw"></i>いいね！ <%= post.likes.count %>件</small></td>

        <td><%= link_to post.user.sitename,
                        controller: :users, action: :show,
                        id:post.user_id %></td>
      </tr>
    <% end %>

  </tbody>

</table>

<!-- いいね追加・削除 -->
<div id="like-area-<%= @post.id %>">
  <%#= render partial: 'likes/like', locals: { post: @post, like: @like } %>
  <%= render partial: 'likes/like', locals: { post: @post, likes: @likes } %>
</div>


<%# = render "likes/like", post: @post %>
<br>
<div><%= paginate @posts %></div>
<hr>
<div>copyright Tree 2018</div>
