<%= form_with(model: questionary_choice, local: true) do |form| %>
  <% if questionary_choice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(questionary_choice.errors.count, "error") %> prohibited this questionary_choice from being saved:</h2>

      <ul>
      <% questionary_choice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :questionary_choice_content %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.number_field :value, id: :questionary_choice_value %>
  </div>

  <div class="field">
    <%= form.label :questionary_item_id %>
    <%= form.number_field :questionary_item_id, id: :questionary_choice_questionary_item_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
