<h1>"<%= @board_user.nickname %>"</h1>

<table>
  <tr>
    <th>Nickname</th>
    <td><%= @board_user.nickname %></td>
  </tr>
  <tr>
    <th>ID</t>
    <td><%= @board_user.id %></td>
  </tr>
  <tr>
    <th>Created at</th>
    <td><%= @board_user.created_at %></td>
  </tr>
  <tr>
    <th>Memo</th>
    <td><%= @board_user.memo %></td>
  </tr>
</table>

<hr>
<%= link_to '<< Back', controller: :board_messages %>
<hr>
<div>copyright Tree 2018</div>
