<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp7</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'blogs', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    @blogconfig.stylename, 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'blogs', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
       <h1><a href="/blogs"><%= @blogconfig.title %></a></h1>
       <h2><%= @blogconfig.subtitle %></h2>
    </header>
    <hr>
    <div id="side">
    <% Bloggenre.all.each do |genre| %>
      <p><a href="/blogs/genre/<%= genre.id %>"><%= genre.name %></a></p>
    <% end %>
    </div>
    <main id="main">
      <%= yield %>
    </main>
  </body>
</html>
